.hero-home {
    color: #fff;
    padding: 160px 0;
  }
  .darkBg {
    background-color: #1c2237;
  }
  .row-home{
    align-items: center;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .col{
    max-width: 50%;
    flex: 1;
    flex-basis: 50%;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-text{
    max-width:540px ;
    padding: 0 0 60px 0;
  }
  
  .top-line {
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    color: #f7f8fa;
  }
  .dark {
    color: #1c2237;
  }
  .hero-subtitle{
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
  }
  .img-hero{
    max-width: 440px;
  }
  .image{
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  [type="blue"]{
    background-color:  #276afb;
    border-color:  #276afb;
    padding: 15px 60px ;
  }
  @media (max-width:768px) {
    .col{
        max-width: 100%;
        flex-basis: 100%;
    }
  }